<mt:setvarblock name="page_title"><__trans phrase="Send to Publish Queue"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
    <script type="text/javascript" src="<mt:var name="static_uri">js/dialog.js"></script>
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">

<mt:if name="batch_exists">
    <mtapp:statusmsg
        id="exists"
        class="info">
        <__trans phrase="A publish request for this blog has already been submitted to the publish queue.">
    </mtapp:statusmsg>
</mt:if>

<p>
    This process will send 100% of the blog&rsquo;s contents to the Publish
    Queue to be published, irrespective of any template&rsquo;s publishing
    settings.
</p>

<form name="send_to_queue"
    method="post"
    action="<mt:Var name="script_url">"
    onclick="document.getElementById('continue').disabled = true; document.getElementById('working').style.display = 'inline-block';">
    <input type="hidden" name="__mode" value="send_<mt:If name="blog_ids">blogs_</mt:If>to_queue" />
    <input type="hidden" name="create_job" value="1" />
<mt:If name="blog_id">
    <input type="hidden" name="blog_id" value="<mt:Var name="blog_id">" />
<mt:Else>
    <input type="hidden" name="blog_ids" value="<mt:Var name="blog_ids">" />
</mt:If>

    <mtapp:setting
        id="email"
        label_class="top-label"
        label="<__trans phrase="Email Address">"
        hint="Send an email to this email address when the process is complete. Separate multiple addresses with a comma; specify no address to <em>not</em> send an email."
        show_hint="1">
        <input type="text" name="email" value="<$mt:var name="default_email"$>" size="60" />
    <mtapp:setting
        id="review"
        label="<__trans phrase="Selected Blogs">">
        <ul>
        <mt:If name="blog_id">
            <li><mt:BlogName></li>
        <mt:Else>
            <mt:Blogs include_blogs="$blog_ids">
            <li><mt:BlogName></li>
            </mt:Blogs>
        </mt:If>
        </ul>
    </mtapp:setting>

    <div class="actions-bar">
        <div class="actions-bar-inner pkg actions">
            <img src="<mt:StaticWebPath>images/indicator.white.gif"
                id="working"
                style="display: none;" />
            <button
                id="continue"
                type="submit"
                accesskey="s"
                title="<__trans phrase="Continue (c)">"
                class="primary-button"
                ><__trans phrase="Continue"></button>
            <button
                onclick="closeDialog(); return false"
                type="submit"
                accesskey="x"
                class="cancel close"
                title="<__trans phrase="Close (x)">"
                ><__trans phrase="Close"></button>
        </div>
    </div>
</form>

<mt:include name="dialog/footer.tmpl">
